$font: "Circular STD";

@font-face {
    font-family: "Circular STD";
    src: url(https://cdn.glitch.me/05cdef95-b8e2-4a1d-a002-d61e22137b69/circular-std-medium-500.ttf?v=1639464412926) format("truetype");
}
