@use "sass:math" as math;
@use "animations" as *;
@use "variables" as *;

.loading {
    display: none;
}
.loader {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    background: #121212;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader-img {
        height: 150px;
        margin-right: 10px;
    }    
    .loader-thing {
        $loaderSize: 70px;
        $borderSize: math.div($loaderSize, 6);
        
        border: $borderSize solid $bgColor;
        border-top: $borderSize solid #1ED760;
        border-radius: 50%;
        width: $loaderSize;
        height: $loaderSize;
        display: block;
        animation: spin 2s linear infinite;
    }
}
