@font-face {
  font-family: "Circular STD";
  src:
    url(https://cdn.glitch.me/05cdef95-b8e2-4a1d-a002-d61e22137b69/circular-std-medium-500.ttf?v=1639464412926)
    format("truetype");
}

:root {
  --font: "Circular STD", sans-serif;
  --color: #ffffff;
  --bg-color: #3E3E3E;
  --bg-color-hover: #575757;
  --bg-color-focus: #333333;
  --border-color-focus: #535353;
  --cover-size: 600px;
}
::-webkit-scrollbar {
  background: transparent;
  width: 15px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  transform: scale(95%);
  transition: 0.25s background;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.75);
  transition: 0.25s background;
}

.loading {
  display: none;
}
.loader {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background: #121212;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-bg {
  --bg-width: 609.5px;
  --bg-height: 158.5px;
  
  background-image: url("https://cdn.glitch.global/05cdef95-b8e2-4a1d-a002-d61e22137b69/spotify-cover-generator-white.png?v=1643121956504");
  background-size: var(--bg-width) var(--bg-height);
  width: var(--bg-width);
  height: var(--bg-height);
  content: "";
  display: block;
}
.loader-thing {
  --border-size: calc(var(--loader-size) / 6);
  --loader-size: 70px;
  
  border: var(--border-size) solid var(--bg-color);
  border-top: var(--border-size) solid #1ED760;
  border-radius: 50%;
  width: var(--loader-size);
  height: var(--loader-size);
  display: block;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

* {
  font-family: var(--font) !important;
}
*:focus {
  outline: none;
}
.display-too-small {
  display: none;
}
.display-too-small div {
  color: salmon;
  border-bottom: 1px solid #ccc;
  width: 85%;
  margin: auto;
}

html, body {
  background: #121212;
  color: var(--color);
  text-align: center;
}
button:hover {
  cursor: pointer;
}
select {
  padding: 5px;
  color: var(--color);
  text-align: center;
  font-size: 135%;
  border-radius: 10px;
  margin-bottom: 15px;
  background: var(--bg-color);
  border: 1px solid var(--bg-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  transition: 0.25s background;
}
select:hover {
  background: var(--bg-color-hover);
  transition: 0.25s background;
}
select:focus {
  background: var(--bg-color-focus);
  border: 1px solid var(--border-color-focus);
  transition: 0.25s background;
}
select::-ms-expand {
  display: none;
}
textarea {
  border: 1px solid var(--bg-color);
  color: var(--color);
  background-color: var(--bg-color);
  resize: none;
  font-size: 135%;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--bg-color);
  overflow: hidden;
  height: fit-content;
  transition: 0.25s background;
}
textarea:hover {
  background: var(--bg-color-hover);
  transition: 0.25s background;
}
textarea:focus {
  background-color: var(--bg-color-focus);
  border: 1px solid var(--border-color-focus);
  transition: 0.25s background;
}

hr {
  border: none;
  border-top: 2px solid;
  background: none;
}
hr.white {
  border-color: white !important;
}
hr.black {
  border-color: black !important;
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  font-size: 35px;
  z-index: 99999;
}
.alert svg {
  margin-top: 0.25%;
}
.alert.success {
  background: #1ED760;
}
.reset {
  font-family: sans-serif;
}

.black {
  color: black;
}
.white {
  color: white;
}
.green {
  color: #1ED760;
}
.orange {
  color: #FFA41F;
}
.red {
  color: #EC0A20;
}
.yellow {
  color: #FEEA27;
}

.covers {
  --top: 50%;
  --left: 14%;
  
  position: fixed;
  top: var(--top);
  left: var(--left);
  transform: translate(-14%, -50%);
  
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.cover {
  position: relative;
  margin: auto;
  width: var(--cover-size);
  height: var(--cover-size);
  overflow: clip;
}
.cover:hover {
  cursor: default;
}
.image {
  height: var(--cover-size);
}
.logo {
  width: 11%;
  height: 11%;
  z-index: 5;
}
.logo.black {
  fill: black;
}
.logo.white {
  fill: white;
}
.logo.green {
  fill: #1ED760;
}
.logo.orange {
  fill: #FFA41F;
}
.logo.red {
  fill: #EC0A20;
}
.logo.yellow {
  fill: #FEEA27;
}
.logo.none {
  fill: transparent;
}
.logo.transparent {
  opacity: 50%;
}
.logo.default {
  position: absolute;
  top: 9px;
  left: 9px;
}
.logo.top-left {
  position: absolute;
  top: 9px;
  right: 0px;
}
.cover-text {
  font-size: 525%;
  z-index: 100;
  overflow-wrap: break-word;
  font-weight: bold;
  letter-spacing: 0.25px;
  height: auto;
}
.cover-text.auto {
  mix-blend-mode: difference;
}
.cover-text.top-left {
  text-align: left;
  width: 88%;
  position: absolute;
  top: 0px;
  left: 9px;
}
.cover-text.top-right {
  text-align: right;
  width: 88%;
  position: absolute;
  top: 0px;
  right: 9px;
}
.cover-text.bottom-left {
  text-align: left;
  width: 88%;
  position: absolute;
  bottom: 0px;
  left: 15px;
}
.cover-text.bottom-right {
  text-align: right;
  width: 88%;
  position: absolute;
  bottom: 0px;
  right: 15px;
}
.cover-text.center {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

#cover-text.extra-small {
  font-size: 300%;
}
#cover-text.small {
  font-size: 400%;
}
#cover-text.large {
  font-size: 750%;
}
#cover-text.extra-large {
  font-size: 900%;
}

#topno-cover-bg {
  width: 100%;
  height: 100%;
}
#topno-cover-logo,
#thisis-cover-logo {
  width: 9%;
  height: 9%;
  position: absolute;
  top: 10px;
  left: 10px;
}
#topno-cover-text-top {
  position: absolute;
  top: 32.5%;
  left: 50%;
  transform: translate(-50%, -32.5%);
  font-size: 75px;
  font-weight: bold;
}
#topno-cover-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  width: 50%;
}
#topno-cover-text-location {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -65%);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 25px;
}

#thisis-cover-logo {
  z-index: 999;
}
#thisis-cover-bg-top {
  background: white;
  width: 100%;
  height: 38%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
#thisis-cover-bg-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#thisis-cover-text-thisis {
  color: black;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 25px;
  position: absolute;
  top: 12.5%;
  left: 50%;
  transform: translate(-50%, -12.5%);
  z-index: 5;
}
#thisis-cover-text-artist {
  color: black;
  font-weight: bolder;
  font-size: 50px;
  position: absolute;
  top: 21.5%;
  left: 50%;
  transform: translate(-50%, -21.5%);
  z-index: 5;
  width: 100%;
}
#thisis-cover-img {
  position: absolute;
  top: 38%;
  left: 0;
  translate: transform(-0%, -38%);
  z-index: 3;
  min-width: var(--cover-size);
  max-width: var(--cover-size);
}

.choices {
  background: black;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  overflow-y: auto;
}
.choices .choice {
  font-size: 150%;
  display: block;
}
.choices .choice:first-child {
  padding-top: 15px;
}
.choices img:first-of-type {
  margin-top: 15px;
  margin-bottom: 10px;
  height: 125px;
}

.download {
  --tb: 13px;
  --lr: 18px;
  
  font-size: 300%;
  padding: var(--tb) var(--lr) var(--tb) var(--lr);
  border-radius: 10px;
  color: var(--color);
  background: var(--bg-color);
  border: 1px solid var(--bg-color);
  display: block;
  margin: auto;
  
  position: fixed;
  bottom: 25px;
  right: 25px;
  transition: 0.25s background;
}
.download:hover {
  background: var(--bg-color-hover);
  transition: 0.25s background;
}
.download:active {
  background: var(--bg-color-focus);
  border: 1px solid var(--border-color-focus);
  transition: 0.25s background;
}

.credit {
  position: fixed;
  bottom: 15px;
  left: 15px;
  background: var(--bg-color);
  padding: 5px;
  border-radius: 10px;
  font-size: 125%;
  max-width: 125px;
}
.credit img {
  width: 25px;
  vertical-align: middle;
}

.download-info {
  font-size: 125%;
  padding-top: 10px;
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
}

/** Anims **/
.fade-out {
	-webkit-animation: fade-out 4s ease-out both;
	        animation: fade-out 4s ease-out both;
}
.fade-out2 {
  -webkit-animation: fade-out2 1s ease-out both;
          animation: fade-out2 1s ease-out both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-out2 {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fade-out2 {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/** Media Stuff **/
@media screen and (max-width: 1250px) {
  :root {
    --cover-size: 400px;
  }
  
  .choices {
    width: 40%;
  }
  .choices img:first-of-type {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  :root {
    --cover-size: 250px;
  }
  
  html, body {
    font-size: 10px;
  }
}
@media screen and (max-width: 900px) {  
  .credit {
    position: fixed;
    bottom: 9px;
    left: 5px;
  }
}
@media screen and (max-width: 500px) {
  .credit {
    display: none !important;
  }
}
@media screen and (max-width: 750px) {
  .cover,
  .choices,
  .credit,
  .alert,
  .loader {
    display: none;
  }
  
  .display-too-small {
    display: block !important;
  }
}
