#cover-text {
    &.extra-small {
        font-size: 300%;
    }
    &.small {
        font-size: 400%;
    }
    &.large {
        font-size: 750%;
    }
    &.extra-large {
        font-size: 900%;
    }
}
